<input 
type="file" name="fileupload" 
id="fileupload" (change)="fileSelected($event)"
[(ngModel)]="selectedFile"
>

<div class="row">
  <div class="col-xs-12">
      <audio #audio class="audio"></audio>
    <!-- <video #video class="video"></video> -->
  </div>
</div>

<header>
  <h1> Welcome on Eye Test </h1>

  <section class=eye-test>
    <img src="{{pickedLetter_mocked.image}}" alt="" class="eye-test__image">
    <button type="button" name="button" class="eye-test__button"> Start </button>

  </section>
</header>