<section class="header">
  <img src="assets/images/glasses.png" class="header__logo" width="100px" alt="">
  <h1 class="header__name"> Home Page </h1>
  <nav class="header__nav">
    <a routerLink="/product" routerLinkActive="active">Shop</a>
    <a routerLink="/daltonism-test" routerLinkActive="active">Daltonism Test</a>
    <a routerLink="/eye-test" routerLinkActive="active">Eye Test</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </nav>
</section>

<router-outlet></router-outlet>
