<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">



<div class="container">

  
	<div class="row">
        <div class="span12">
    		<div class="" id="loginModal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Have an Account?</h3>
              </div>
              <div class="modal-body" id="1">
                <div class="well">
                  <ul class="nav nav-tabs">
                    <li ><a href="/login" data-toggle="tab">Login</a></li>
                    <li class="active"><a href="/register" data-toggle="tab">Create Account</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content" >
                    <div class="tab-pane fade" id="login">
                    </div>
                    <div class="tab-pane active in" id="create">    <!-- rejestracja -->
                      <form id="tab">
                            <br>
                            <br>

                            <div class="control-group">
                              
                              <label class="control-label" for="username">Username</label>
                              <div class="controls">
                                <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                              </div>
                            </div>
                            <br>
                            <div class="control-group">
                                
                                <label class="control-label" for="firstName">First Name</label>
                                <div class="controls">
                                  <input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge">
                                </div>
                            </div>
                            <br>
                            <div class="control-group">
                                
                                <label class="control-label" for="lastName">Last Name</label>
                                <div>
                                  <input type="text" id="lastName" value="cokolwie" name="lastName" placeholder="" class="input-xlarge">
                                </div>
                            </div>     
                            <br>
                            <div class="control-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                  <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                                </div>
                            </div>                             
                            <br>
                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password">Password</label>
                                <div class="controls">
                                  <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                                </div>
                            </div>
                            <br>
                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="matchingPassword">Repeat password</label>
                                <div class="controls">
                                  <input type="password" id="matchingPassword" name="matchingPassword" placeholder="" class="input-xlarge">
                                </div>
                            </div>
                            <br>
                        <div>
                          <button class="btn btn-primary" (click)="createAccount()">Create Account</button>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
            </div>
        </div>
	</div>
</div>